<div id = "main">
  <div id = "heirachyDiv">
	<p id = "itemToRoot"><br/><a id = "add-root-item" href = "#"> + Add Item To Root</a></p>
	<ul id = "rootChildren">
	  <li class = "currentItemPath"><a href = "#">2013</a></li>
	  <li class = "indent">
	  <ul>
		<li class = "currentItemPath"><%= link_to "Ikea Food Testing", items_path %></li>
		<li class = "indent">
		<ul>
		  <li><a href = "#">Transport</a></li>
		  <li><a href = "#">Transport</a></li>
		</ul>
		</li>
	  </ul></li>
	  <li><a href = "#">2014</a></li>
	</ul>
  </div>
  
  <div id = "contentPane">
	<p id = "currentItemOptions">
	  <a id = "add-item" href = "#">Add Item</a> | 
	  <a id = "set-email" href = "#">Set Email Reminder</a> | 
	  <a id = "edit" href = "#">Edit</a>
	</p>
	
	<form id = "currentItem">
	  <h1><input type = "checkbox" class = "itemCheckbox"/> Ikea Food Tasting</h1>
	  <p>The Swedish clubs annual trip to Ikea</p>
	</form>
	
	<form id = "currentItemChildren">
	  <h2><input type = "checkbox" class = "itemCheckbox"/><a href = "#"> Transport</a></h2>
	  <p>A bus needs to be hired from Hireabus.com</p>
	  <p class = "emailReminder">Email to peterthonnel@swedishclub.com at 0:00 12/12/2013</p>
	  <h2><input type = "checkbox" class = "itemCheckbox"/><a href = "#"> Transport</a></h2>
	  <p>A bus needs to be hired from Hireabus.com</p>
	  <p class = "emailReminder">Email to peterthonnel@swedishclub.com at 0:00 12/12/2013</p>
	</form>
	
	<form id = "add-item-form">
	<p>Title: <input type = "text" id = "new-item-title" size = "80"/></p>
	<p>Body: <input type = "text" id = "new-item-body" size = "80"/></p>
	<p>Enable Complete/Incomplete status? <input type = "checkbox" id = "new-item-active"/></p>
	<p class = "newFormOptions">
	  <a id = "add-item-confirm" href = "#">Confirm Item</a> | 
	  <a id = "add-item-clear" href = "#">Clear</a> | 
	  <a id = "add-item-cancel" href = "#">Cancel</a>
	</p>
	</form>
	
	<form id = "set-email-form">
	<p>Date: <input type = "text" id = "email-datepicker" size = "9"/><small> MM/DD/YYYY at 0:00</small></p>
	<p>Recipient(s): <input type = "text" id = "email-recip" size = "80" placeholder = "example@swedishclubwa.com"/></p>
	<p>Send all subchildren too? <input type = "checkbox" id = "email-children"/></p>
	<p class = "newFormOptions">
	  <a id = "set-email-confirm" href = "#">Set Email Reminder</a> | 
	  <a id = "set-email-clear" href = "#">Clear</a> | 
	  <a id = "set-email-cancel" href = "#">Cancel</a>
	</p>
	</form>
	
	<form id = "add-root-item-form">
	<p id = "rootFormTitle">Adding New Item to Root:</p>
	<p>Title: <input type = "text" id = "new-root-item-title" size = "80"/></p>
	<p>Body: <input type = "text" id = "new-root-item-body" size = "80"/></p>
	<p>Enable Complete/Incomplete status? <input type = "checkbox" id = "new-root-item-active"/></p>
	<p class = "newFormOptions">
	  <a id = "add-root-item-confirm" href = "#">Confirm Item</a> | 
	  <a id = "add-root-item-clear" href = "#">Clear</a> | 
	  <a id = "add-root-item-cancel" href = "#">Cancel</a>
	</p>
	</form>
  </div>
</div>