<article>
	<div style = "float: left; font-size: 11px; width: 165px">
		<h3 id = "hi">Heirachy</h3>
		<ul style = "list-style-type: circle; margin-left: -20px">
			<li><a href = "<%= url_for(:idk => 'idk', :idk => 'idk') %>">2011</a></li>
			<li><a href = "<%= url_for(:idk => 'idk', :idk => 'idk') %>">2012</a></li>
			<li style = "list-style-type: none; margin-left: -25px"><ul style = "list-style-type: circle">
				<li><a href = "">Midsummer</a></li>
					<li style = "list-style-type: none; margin-left: -25px"><ul style = "list-style-type: disc">
					<li><a href = "">What is this event?</a></li>
					<li><a href = "">a a a a a a a a a a a a a a a a a a a a a a a a a a </a></li>
					<li><a href = "">Feedback</a></li>
					<li><a href = "">Checklist</a></li>
				</ul></li>
				<li><a href = "">UWA Open Day 2012</a></li>
			</ul></li>
			<li><a href = "">2013</a></li>
		</ul>
	</div>
	
	<div style = "text-align: left; width: 740px; margin-left: 180px; padding-left: 40px; border-left: 1px solid">
		<p id = "currentItemOptions" style = "text-align: right">
			<a id = "add-item" href = "#">Add Item</a> | 
			<a id = "set-email"	href = "#">Set Email Reminder</a> | 
			<a id = "edit" href = "#">Edit</a>
		</p>
		
		<form id = "currentItem">
			<h1><input type = "checkbox" style = "margin-left: -24px"/> Ikea Food Tasting</h1>
			<p>The Swedish clubs annual trip to Ikea</p>
		</form>
		
		<div id = "currentItemChildren">
			<form id = "child1" style = "margin-left: 30px">
				<h2><input type = "checkbox" style = "margin-left: -24px"/><a href = "#"> Transport</a></h2>
				<p>A bus needs to be hired from Hireabus.com</p>
				<p style = "color: red">Email to peterthonnel@swedishclub.com at 18:00 12/12/2013</p>
			</form>
		</div>
		
		<form id = "add-item-form">
		<p>Title: <input type = "text" id = "new-item-title" size = "106" style = "margin-left: 10px"/></p>
		<p>Body: <input type = "text" id = "new-item-body" size = "106" style = "margin-left: 6px"/></p>
		<p>Enable Complete/Incomplete status?<input type = "checkbox" name = "active"/></p>
		<p style = "text-align: center">
			<a id = "add-item-confirm" href = "#">Confirm Item</a> | 
			<a id = "add-item-clear" href = "#">Clear</a> | 
			<a id = "add-item-cancel" href = "#">Cancel</a>
		</p>
		</form>
	</div>
</article>