<li>
  <%= link_to h(item.title), :controller => 'items', :action => 'show', :id => item.id %>
  <% if !item.children.empty? %>
  <ul><%= render :partial => 'items/item', :collection => item.children %></ul>
  <% end %>  
</li>
