<li>
  <% if item.id == Item.find(params[:id].to_i).root.id %>
    <b><%= link_to h(item.title), :controller => 'items', :action => 'show', :id => item.id %></b>
  <% else %>
    <%= link_to h(item.title), :controller => 'items', :action => 'show', :id => item.id %>
  <% end %>

  <% if item.root.id == Item.find(params[:id].to_i).root.id && !item.children.empty? %>
    <ul><%= render :partial => 'items/item', :collection => item.children %></ul>
  <% end %>  
</li>
