<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8"/>
  <title> Club Process System - Swedish Club of WA </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
</head>
<body>
  <div id = "centerDiv">
    <div id = "indexTitleDiv">
      <p id = "title1">Swedish Club of WA</p>
      <p id = "title2"><i>Club Process System - Sign In</i></p>
    </div>
    
    <%= yield %>
    
    <footer>
      <p>&copy; 2013 Swedish Club of WA - Website Created by CITS3200 Group G</p>
    </footer>
  </div>
</body>
</html>